{% extends 'polls/base.html' %}

{% block content %}
{% if latest_question_list %}
<div class="questions">
    <h2>Questions</h2>
    <hr>
    <ol class="list-group">
        {% for question in latest_question_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ question.question_text }}
            <div>
                <a class="btn btn-outline-info" href="{% url 'polls:detail' question.id %}">Vote</a>
                <a class="btn btn-outline-success" href="{% url 'polls:results' question.id %}">Result</a>
            </div>

        </li>
        {% endfor %}
    </ol>
</div>

{% else %}
<p>No Polls are available.</p>
{% endif %}
{% endblock content%}